.player {
  width: 100%;
  height: 50%;
  background-color: violet;
  display: flex;
  flex-direction: column;
}

.opponent {
  width: 100%;
  height: 50%;
  background-color: violet;
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 1px solid black;
}

.playableArea {
  display: flex;
  flex: 1;
}

.opponentPlayableArea {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.deckContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.opponentDeckContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}
